.container{
    display: flex;
    justify-content: center;
    padding: 50px;
}

.profile__card{
    width: 450px;
    padding: 35px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
    
    position: relative;
}

.feature{
    display: flex;
    justify-content: space-around;
    
}

.btn__box{
    display: flex;
    gap: 25px;
    justify-content: center;
}

.sticky-icon{
    background-color: #a4a4a4;
    position: absolute;
    padding: 6px 8px;
    border-radius: 8px;
    top: 20px;
    left: 20px;
    font-weight: 900;
    font-size: 16px;
    color: white;
}