.heading {
  &__name {
    font-weight: 700;
    font-size: 30px;
  }
  &__designation {
    font-weight: 700;
    font-size: 22px;
    color: #727272;
  }
}

.feature {
  &__item {
  }
  &__item .name {
    font-size: 20px;
    color: #727272;
  }
  &__item .details {
    font-size: 25px;
    font-weight: 700;
  }
}

.text__box p {
  font-size: 16px;
  font-weight: 700;
  color: #727272;
}
