.btn{
    font-size: 18px;
    padding: 12px 65px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    font-weight: 700;
}


.btn:hover{
    background-color: black;
    border: none;
    color: white;
}